* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var( --font-oswald);
}

@media (max-width: 900px) {
  .traditions-article1, .traditions-article2 {
    flex-direction: column;
    padding-right: 0;
  }

  .traditions-block1, .traditions-block2 {
    width: 100%;
  }

  .traditions-article2 {
    margin-top: 50px;
  }

#burgerButton {
    display: flex;
  }

  #navbar ul {
    display: none;
  }

}

